.App {
  widtH: 100%;
  height: 100%;
  display: flex;
  font-family: arial;
}

#split-pane-left {
  border-right: 1px solid #ccc;
  height: 100%;
}

#split-pane-right {
  height: 100%;
  width: 100%;
}

#hamburger-menu-container {
  margin: 15px;
}

#tree-view-container {
  margin: 15px;
}
